body {
    font-family:Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background: #D9D9D9;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav li {
    display: inline;
    padding: 0px 25px;
}

nav li a{
    transition: all 0.2s ease 0s;
}

nav li a:hover {
    color: #22A39F;
}

button {
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: #22A39F;
}

a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #22A39F;
    text-shadow: -1px 0 black, 0 1px black, 0 -1px black;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px;
    text-shadow: 2px 2px #CECECE;
}

h3 {
    color: #22A39F;
    letter-spacing: -.05rem;
    text-align: center;
}

h4 {
    font-weight: 800;
}

h5 {
    font-weight: 900;
    font-size: 1.5rem;
}

p {
    text-align: center;
}

.pagebutton {
    padding: 75px;
    text-align: center;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}

.card {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.7rem;
    -webkit-text-stroke: 1px black;
}

.overtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.aboutus {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 700px;
    line-height: 25px;
}

#prices {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
}

.pricecard {
    background-color: #F3EFE0;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 375px;
    box-shadow: 2px 2px;
}

.cardlist {
    text-align: left;
    padding: 40px;
    padding-top: 0px;
    line-height: 25px;
    font-weight: 800;
}

#topimage img{
    width: 100%;
}
